[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[fmt]
tab_width = 4
line_length = 120

[[profile.default.rpc_endpoints]]
local = "http://127.0.0.1:8545"
